<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crochetick"
        tools:targetApi="31">
        <activity
            android:name=".activitiy.ProjectDoActivity"
            android:exported="false"
            android:label="@string/title_activity_project_do"
            android:theme="@style/Theme.Crochetick" />
        <activity
            android:name=".activitiy.ProjectWorkActivity"
            android:exported="false"
            android:label="@string/title_activity_project_work"
            android:theme="@style/Theme.Crochetick" />
        <activity
            android:name=".activitiy.AddDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_add_detail"
            android:theme="@style/Theme.Crochetick" />
        <activity
            android:name=".activitiy.AddProjectActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.Crochetick" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Crochetick">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>